@import "vars";
@import "./vendor/reset";

html {
    font-size: 62.5%;
}

body {
    background-color: white;
    font-family: $font;
    color: $secondary;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Blocks */
@import "blocks/container";
@import "blocks/page";
@import "blocks/header";
@import "blocks/intro";
@import "blocks/form";
@import "blocks/benefits.scss";

