.intro {
    background: $secondary url('../images/intro.jpg') center no-repeat;
    background-size: cover;
    padding: 9rem 0 20rem;
}

.intro__inner {
    display: flex;
}

.intro__left {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    width: 50%;
}

.intro__right {
    width: 50%;
    color: black;
}

.intro__title {
    text-transform: uppercase;
    padding-bottom: 3rem;
    h1 {
        font-weight: 800;
        font-size: 6.7rem;
    }

    h3 {
        margin-top: 10px;
        font-size: 2.9rem;
        line-height: 2;
        font-weight: 300;
    }

    &:after {
        content: "";
        background-color: white;
        height: 1.5px;
        width: 460px;
        position: absolute;
        margin-top: 3rem;
        left: 30%;
        transform: translateX(-30%);
        box-shadow: 0 0 1px $secondary;
    }
}

.intro__subtitle {
    padding-right: 13rem;
    margin-top: 3rem;
    h2 {
        font-size: 5.6rem;
        font-weight: 700;
    }
    
    h3 {
        margin-top: 3rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.5;

        strong {
            font-weight: 700;
            &:nth-child(2) {
                line-height: 2;
            }
        }
    }
}

.intro__right {
    padding: 5.5rem;
    background-color: $primary;
    overflow: hidden;
    border-radius: 3rem;
    box-shadow: 10px 25px 45px rgba(0,0,0,0.15);
}

.intro__form-title {
    text-transform: uppercase;
    font-size: 8.7rem;
    font-weight: 700;
    text-align: center;
    color: $secondary;
}

.intro__form-subtitle {
    text-transform: uppercase;
    font-size: 2.9rem;
    font-weight: 400;
    line-height: 1.4;
    color: $secondary;
    text-align: center;
}

.intro__form-subsubtitle {
    margin-top: 1rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.intro__actions {
    margin-top: 3rem;
    display: flex;
    width: 100%;
    align-items: center;

    .form__input {
        &:not(:first-child) {
            margin-left: 2rem;
        }
    }
}

.intro__button {
    text-transform: uppercase;
    margin-top: 4rem;
    margin-left: 50%;
    transform: translateX(-50%);
    border: none;
    padding: 1rem 3rem;
    color: white;
    background-color: $secondary;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.8rem;
    box-shadow: 4px 4px 8px 0 rgba(#17375F, 0.2);
    border-radius: 4.3rem;
}